<div class="jumbotron text-center">
   <h1 class="display-3">{{title}}</h1>
   <p class="lead">Jot down ideas for you next youtube videos</p>
   <a class="btn btn-secondary btn-lg btn-block" href="/ideas/add" role="button">Add Video Idea</a>
</div>